{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules": {
    "no-unused-vars": "warn"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["eslint:recommended"]
}
