@import 'components/header.css';
@import 'fonts.css';
@import '~normalize.css';
body {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 24px;
  color: yellow;
}

.news {
  width: 100px;
  height: 100px;
  background-color: green;
}

@media (max-width: 700px) {
  .news {
    color: #000;
    display: grid;
    grid-template-columns: auto;
  }
}
