@use 'components/header';
$default-var: 10px;

@mixin someName {
  @media (max-width: 700px) {
    @content;
  }
}

.title {
  font-size: 24px;
  color: yellow;
}

body {
  @include someName {
    color: #000;
    background-color: purple;
  }
}

.news {
  width: 100px;
  height: 100px;
  background-color: green;
}
